$black: rgb(0, 0, 0, 0.05);
$secondaryBlack: rgb(0, 0, 0, 0.08);
$overlayBlack: rgba(0, 0, 0, 0.75);
$lightPink: rgb(216, 186, 186);
$lightBlue: rgb(240, 248, 255);
$white: whitesmoke;
$lightRed: rgb(224, 184, 184);
$red: rgb(230, 81, 81);
