@forward './reset';
@use './variables' as *;

.button {
    font-weight: 700;
    cursor: pointer;
    padding: 0.55em 1.25em;
    background-color: transparent;
    border: 2px $lightPink solid;
    border-radius: 12px;
    display: flex;
    align-self: center;
}

.buttons-container {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    gap: 1em;
}
